.LandingPage{
    background-color: rgb(49, 49, 52);
}
.content{
    border-radius: 10%;
    margin-bottom: 40px;
}
.bg{
  background: url("../assets/CodeBrigade.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.MyCarousel{
    width: 93%;
    margin: 0 auto;
}

.MyCarousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Explore{
    padding: 5px;
    background-color: rgb(32, 32, 248);
    color: white;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 40px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    font-size: medium;

    &:hover {
        background-color: rgb(48, 54, 249);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    &:active {
        background-color: rgb(57, 70, 249);
        box-shadow: none;
        transform: translateY(1px);
    }
}