.LogIn {
    display: flex;
    justify-content: center;
    align-items: center;
    height:calc(100vh - var(--nav-height));
    background-color: rgb(49, 49, 52);
}

.login-container {
    background-color: white;
    height: 350px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgb(80, 107, 244);;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.LogIn input{
    padding: 10px;

}
.button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: rgb(80, 107, 244);
        box-shadow: 0 2px 4px rgb(80, 107, 244);
    }

    &:active {
        background-color: rgb(80, 107, 244);
        box-shadow: none;
        transform: translateY(1px);
    }
}
